

			<div class="page-title">

				<div class="page-icon">

					<%=image_tag "notice_page_icon.png"%>

				</div>

				<div class="title-name">

					<%=image_tag "notice_title.png"%>

				</div>

			</div>

			<div class="page-tabbar">

				<div class="page-tab">
					
					<%= image_tag "tab_bg_green.png", class: "tabbg" %>
					<%= image_tag "notice_tab_title.png", class: "tabstr" %>

				</div>

				<div class="page-desc">

					<%= image_tag "notice_desc.png"%>

				</div>

			</div>

			<div class="notice-table">



				<div class="notice-row odd">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>











				<div class="notice-row even">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>
						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>



				<div class="notice-row odd">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>













				<div class="notice-row even">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>



				<div class="notice-row odd">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>











				<div class="notice-row even">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>



				<div class="notice-row odd">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>











				<div class="notice-row even">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>



				<div class="notice-row odd">

					<div class="row-summary">

						<div class="notice-no">1</div>

						<div class="notice-date">2013.09.16</div>

						<div class="notice-title">본인의 이메일을 입력해주세요 입력한 주소로 답변을 보내드립니다.</div>

						<div class="row-pointer">

							<%= image_tag "droppointer-down.png"%>

						</div>

					</div>

					<div class="row-detail">&nbsp;안녕하세요, 순창에서 벼농사만 30년동안 지은 벼농사의 달인 김순창입니다. 귀농하여 벼농사가 어려운 청년은 나를 찾아오세용. 특히 벼농사에 대해서 많은 정보를가지고 있으니 많은 도움을 드릴게. 우리 귀농 청년 화팅.... 안녕하세요... 응? 고추창??뭐 이런식으로 들어갈거예요.

						<br/><br/>

						특히 유기농 벼농사에 대해서 많은 정보를 자고 있으니 많은 도움을 드릴게요. 커몬!

					</div>

				</div>


