<div class="page-title">
	<%=image_tag "title_notice.png"%>
</div>
<div class="page-subtitle">
	<%=image_tag "subtitle_notice.png"%>
</div>
<div class="expdable-table">
  
<% @notices.each do |notice| %>  
	<div class="row">
		<div class="mother">
			<div class="number"><%= notice.id %></div>
			<div class="title"><%= notice.title %></div>
			<div class="pointer">
				<%= image_tag "droppointer-down.png"%>
			</div>
			<div class="date">2013-09-29</div>
		</div>
		<div class="expend">
			<%= notice.contents %>
		</div>
	</div>
<% end %>
</div>
<div class="pager">
  <%= paginate @notices %>
</div>
<div class="pager">
	<ul>
		<li><%= link_to "<", "#"%></li>
		<li class="selected"><%= link_to "1", "#"%></li>
		<li><%= link_to "2", "#"%></li>
		<li><%= link_to "3", "#"%></li>
		<li><%= link_to "4", "#"%></li>
		<li><%= link_to "5", "#"%></li>
		<li><%= link_to "6", "#"%></li>
		<li><%= link_to ">", "#"%></li>
	</ul>
</div>