<div class="grid row-about">
  <h1>관리자 메뉴</h1>
  <div>
    <ul>
      <li><%= link_to "사용자 관리", admin_users_path %></li>
      <li><%= link_to "사용자 역할 관리", admin_roles_path %></li>
      <li><%= link_to "멘토링 프로그램 관리", admin_jobs_path %></li>
      <li><%= link_to "faq관리", admin_answers_path %></li>
      <li><%= link_to "공지사항", admin_notices_path %></li>
      <li><%= link_to "QnA관리", admin_questions_path %></li>
      <li><%= link_to "후기 관리", admin_reviews_path %></li>
    </ul>
  </div>
</div>