<div class="grid row-about">
  <div class="about-ff">
    <%= link_to image_tag("about-ff.png") %></a>
  </div>
  <div class="notice">
    <div class="notice-icon">
      <%= image_tag("notice_icon.png") %>
    </div>
    <div class="notice-ticker">
      <ul class="notice-contents">
        <li>
          <div>
            귀농 교육청과 연계한 <b>농촌 일손돕기 시범사업</b>
          </div>
        </li>
        <li>
          <div>
            sdfsddfsdf
          </div>
        </li>
        <li>
          <div>
            qweqwerwer
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="grid row-news">
  <div class="slider">
    <ul class="bxslider">
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
    </ul>
  </div>
  <div class="today-prog">
    <div class="title">
      <%= image_tag("prog_title.png", width:"289px")%>
    </div>
    <ul class="prog-list">
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10 <span class="new"><%= image_tag("icon_prog_new.png") %></span>
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="grid">
	<div class="grid-title">
		<%= image_tag "grid_title.png"%>	
	</div>
	<div class="search-bar">
		<div class="search-category">
			<ul>
				<li class="menu-item-all">
					<%= image_tag "search_category_all.png"%>
				</li>
				<li class="menu-item">
					<%= image_tag "search_category_0_over.png"%>
				</li>
				<li class="menu-item">
					<%= image_tag "search_category_1_over.png"%>
				</li>
				<li class="menu-item">
					<%= image_tag "search_category_2_over.png"%>
				</li>
				<li class="menu-item">
					<%= image_tag "search_category_3_over.png"%>
				</li>
				<li class="menu-item">
					<%= image_tag "search_category_4_over.png"%>
				</li>
			</ul>
		</div>
		
		<div class="search-datepicker">
			<div class="datepicker-custom">
				<p><span id="today-month">9</span>월 <span id="today-date">24</span>일 ~ <span id="target-month">10</span>월 <span id="target-date">4</span>일</p>
			</div>
			<div class="datepicker-option">
				<ul>
					<li>
						<input type="hidden" id="datepicker"/>
						<%= image_tag "serach_calaendar_icon.png"%>
					</li>
					<li>
						<%= image_tag "serach_7days_icon.png", onclick:"SetDateForSearch(7)"%>
					</li>
					<li>
						<%= image_tag "serach_15days_icon.png", onclick:"SetDateForSearch(15)"%>
					</li>
					<li>
						<%= image_tag "serach_month_icon.png", onclick:"SetDateForSearch(30)"%>
					</li>
				</ul>
				
				<input type="hidden" name="date-target"value=""/>
			</div>
		</div>
	</div>
	<div class="search-result">
		<ul>
			<% i = 1 %>
			<% @jobs.each do |job| %>

      <% if i % 6 == 0 %>
        <li class="mentor-item last-item">
      <% else %>
  			<li class="mentor-item">
      <% end%>
      <% i = i + 1 %>
  				<div class="mentor-wrapper">
  					<div class="mentor-thumbnail">
              <% unless job.mentor.nil? %>
                <% unless job.mentor.avatar.nil?%>
                  <%= image_tag job.mentor.avatar %>
                <% else %>
                  <%= image_tag "dummy_mentor.png" %>
                <% end %>
              <% else %>
                <%= image_tag "dummy_mentor.png" %>
              <% end %>
  					</div>
  					<div class="mentor-summary">
  						<div class="summary-bg"></div>
  						<%= image_tag "green_label_blank.png", class:"green-label" %>
  						<div class="summary-content">
  							<div class="summary-title">
                  <% unless job.mentor.nil? %>
                      <% unless job.mentor.name.nil?%>
                        <%= job.mentor.name %>&nbsp;멘토
                        <% else %>
                        멘토 이름 등록 필요
                      <% end %>
                    <% else %>
                      멘토 등록 필요
                  <% end %>
                </div>
  							<div class="summary-category">
  								<ul>
                    <li><%= job.category %></li>
  								</ul>
  								<div class="category-count">
  									<!-- 총 3건 진행 중 -->
                    진행중
  								</div>
  							</div>
                <% unless job.started_at.nil?%>
  							<div class="summary-term"><%= job.started_at.strftime("%Y. %m. %d")%>~<%= job.finished_at.strftime("%m. %d")%></div>
                <% end %>
  						</div>
  					</div>
  					<div class="mentor-indicator selected"></div>
  					<div class="mentor-indicator disabled"></div>
  				</div>
  			</li>
      <% end %>			
			<li id="mentor-detail-wrapper">
				<div class="mentor-title">
					<span><%= @job.mentor.name %> 멘토</span>
					<%=image_tag "detail_close.png", id:"detail-close"%>
				</div>
				<div class="mentor-desc">
					<%= @job.mentor.mentor_guide %>
					<%= image_tag "join_mentoring.png", id:"join-btn"%>
				</div>
				
				<div class="mentor-category">
					<ul class="category-tab">
						<li class="open selected"><span>식량</span><%= image_tag "tab_indicator.png"%></li>
						<li><span>채소</span><%= image_tag "tab_indicator.png"%></li>
						<li class="open"><span>과수</span><%= image_tag "tab_indicator.png"%></li>
						<li><span>특작</span><%= image_tag "tab_indicator.png"%></li>
						<li><span>기타</span><%= image_tag "tab_indicator.png"%></li>
					</ul>
					<div class="etc-bar" style="margin-top:-1px; background: #919191; height:1px;"></div>
					<div class="mentor-detail-left">
						<div class="mentor-info-table">
							<ul>
								<li>
									<span class="info-label">교육내용</span>
									<span class="info-content"><%= @job.title %></span>
								</li>
								<li>
									<span class="info-label">교육일정</span>
									<span class="info-content"><%= @job.started_at.strftime("%Y. %m. %d") %>~<%= @job.finished_at.strftime("%Y. %m. %d") %></span>
								</li>
								<li>
									<span class="info-label">일 할 시간</span>
									<span class="info-content">09:00 ~ 18:00 (8시간)</span>
								</li>
								<li>
									<span class="info-label">교육시간</span>
									<span class="info-content"><%= @job.learning_time %>시간</span>
								</li>
								<li>
									<span class="info-label">필요인원</span>
									<span class="info-content"><%= @job.workers_count %>명</span>
								</li>
								<li>
									<span class="info-label">난이도</span>
									<span class="info-content"><%= @job.level %></span>
								</li>
								<li>
									<span class="info-label">일당</span>
									<span class="info-content"><%= @job.pay %> 원</span>
								</li>
								<li>
									<span class="info-label">장소</span>
									<span class="info-content"><%= @job.location %></span>
								</li>
							</ul>

							<div class="mentor-image">
								<%= image_tag @job.mentor.farm %>
							</div>
						</div>
					</div>
					<div class="mentor-detail-right">
						<div class="mentor-region-addr">

						</div>
						<div class="mentor-region-map">
							<!-- 지도 이미지 자리-->
						<div class="mentor-etc">
							<%= @job.contents %>
						</div>
					</div>

					<div id="join-popup">
	
						<%= image_tag "join_popup.png", usemap:"#joinpopup"%>
						<map id="joinpopup" name="joinpopup">
							<area shape="rect" alt="확인" title="" coords="119,170,219,196" href="javascript:JoinConfirm()" target="" />
							<area shape="rect" alt="닫기" title="" coords="280,0,338,50" href="javascript:CloseJoinPopup()" target="" />
						</map>
						<p id="mantor-phone"><%=@job.mentor.phone%></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<script>
$(function() {
    $.datepicker.regional['ko'] = {
     closeText: '닫기',
     prevText: '이전달',
     nextText: '다음달',
     currentText: '오늘',
     monthNames: ['1월','2월','3월','4월','5월','6월',
     '7월','8월','9월','10월','11월','12월'],
     monthNamesShort: ['1월','2월','3월','4월','5월','6월',
     '7월','8월','9월','10월','11월','12월'],
     dayNames: ['일','월','화','수','목','금','토'],
     dayNamesShort: ['일','월','화','수','목','금','토'],
     dayNamesMin: ['일','월','화','수','목','금','토'],
     weekHeader: 'Wk',
     dateFormat: 'yy-mm-dd',
     firstDay: 0,
     isRTL: false,
     duration:200,
     showAnim:'show',
     showMonthAfterYear: true,
     yearSuffix: '년'};
         $.datepicker.setDefaults($.datepicker.regional['ko']);
		 
	$("#datepicker").datepicker({
		showOn: "button",
		buttonImage: "<%= asset_path("serach_calaendar_icon.png") %>",
		buttonImageOnly: true
	});
	
});
  </script>
