<div class="grid row-about">
  <div class="about-ff">
    <%= link_to image_tag("about-ff.png") %></a>
  </div>
  <div class="notice">
    <div class="notice-icon">
      <%= image_tag("notice_icon.png") %>
    </div>
    <div class="notice-ticker">
      <ul class="notice-contents">
        <li>
          <div>
            귀농 교육청과 연계한 <b>농촌 일손돕기 시범사업</b>
          </div>
        </li>
        <li>
          <div>
            sdfsddfsdf
          </div>
        </li>
        <li>
          <div>
            qweqwerwer
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="grid row-news">
  <div class="slider">
    <ul class="bxslider">
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
      <li>
        <%= image_tag("slider01.jpg", title:"여러분들의 도전을 응원 할 팜팜멘토의 홈페이지가 오픈하였습니다.") %>
      </li>
    </ul>
  </div>
  <div class="today-prog">
    <div class="title">
      <%= image_tag("prog_title.png", width:"289px")%>
    </div>
    <ul class="prog-list">
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10 <span class="new"><%= image_tag("icon_prog_new.png") %></span>
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
      <li class="prog-list-item">
        <div class="prog-date">
          2013. 06. 09 ~ 2013. 09. 10
        </div>
        <div class="prog-subject">
          벼농사의 달인과 함께 하는 벼농사 배우기
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="grid row-search">
  <div class="search-bar"></div>
  <div class="search-result"></div>
</div>
<%= link_to "관리자영역", admin_roles_path %>
