<div class="page-title">
  <div class="page-icon">
	  <%= image_tag "review_icon.png"%>
  </div>
  <div class="title-name">
	  <%=image_tag "review_title.png"%>
  </div>
  <div id="review-button">
	  <%= image_tag "button_review.png"%>
  </div>
</div>
<div id="review-wrapper">
  <div id="review-latest-wrapper">
    <div class="review-latest">
      <div class="review-thumb">
		  <%= image_tag "dump_thumb2.png"%>
      </div>
      <div class="review-content">
        <div class="label-new">
			<%= image_tag "green_label_new.png"%>
        </div>
        <div class="review-summary">
          <div class="review-title">
            <p>
              제목
            </p>
          </div>
          <div class="review-desc">
            <p>
              asdfjaskldjflasdkfjlasdkfjalsdkfjlasdkfjalsdkjfteste
            </p>
          </div>
        </div>
        <div class="review-social">
          <div class="review-fb">
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
          </div>
          <div class="review-social-count">
            <span class="social-count">1250</span>
          </div>
        </div>
      </div>
    </div>
    <div class="review-latest">
      <div class="review-thumb">
		  <%= image_tag "dump_thumb2.png"%>
      </div>
      <div class="review-content">
        <div class="label-new">
		<%= image_tag "green_label_new.png"%>
        </div>
        <div class="review-summary">
          <div class="review-title">
            <p>
              제목
            </p>
          </div>
          <div class="review-desc">
            <p>
              디스크립서임낭러ㅣㅁㄴ아럼니아럼니ㅏㅇ럼니ㅏ럼니아러ㅣㅏ
            </p>
          </div>
        </div>
        <div class="review-social">
          <div class="review-fb">
            <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
          </div>
          <div class="review-social-count">
            <span class="social-count">1250</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="review-list">
    <li>
      <div class="review-thumb">
		  <%= image_tag "dump_thumb.png"%>
      </div>
      <div class="review-content">
        <div class="review-title">
          <p>
            한 줄 후기?받을건데한 줄 후기?받을건데한 줄 후기?받을건데
          </p>
        </div>
        <div class="review-fb">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
        </div>
      </div>
    </li>
	
	
	
    <li>
      <div class="review-thumb">
		  <%= image_tag "dump_thumb.png"%>
      </div>
      <div class="review-content">
        <div class="review-title">
          <p>
            한 줄 후기?받을건데한 줄 후기?받을건데한 줄 후기?받을건데
          </p>
        </div>
        <div class="review-fb">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
        </div>
      </div>
    </li>
	
    <li>
      <div class="review-thumb">
		  <%= image_tag "dump_thumb.png"%>
      </div>
      <div class="review-content">
        <div class="review-title">
          <p>
            한 줄 후기?받을건데한 줄 후기?받을건데한 줄 후기?받을건데
          </p>
        </div>
        <div class="review-fb">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
        </div>
      </div>
    </li>
	
    <li>
      <div class="review-thumb">
		  <%= image_tag "dump_thumb.png"%>
      </div>
      <div class="review-content">
        <div class="review-title">
          <p>
            한 줄 후기?받을건데한 줄 후기?받을건데한 줄 후기?받을건데
          </p>
        </div>
        <div class="review-fb">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
        </div>
      </div>
    </li>
	
    <li>
      <div class="review-thumb">
		  <%= image_tag "dump_thumb.png"%>
      </div>
      <div class="review-content">
        <div class="review-title">
          <p>
            한 줄 후기?받을건데한 줄 후기?받을건데한 줄 후기?받을건데
          </p>
        </div>
        <div class="review-fb">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgroups%2F1392874827606523%2F&amp;width=62&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=628812140486031" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:62px; height:80px;" allowtransparency="true"></iframe>
        </div>
      </div>
    </li>
    
  </ul>
</div>